.IVResult {
  .resultGrid {
    grid-gap: 1rem;

    &:first-child {
      :nth-child(2), :nth-child(3) {
        border: 0;
      }
    }

    :nth-child(2), :nth-child(3) {
      padding: .3rem;
      margin: .5rem 0;
      border-bottom: 2px #dcdcdc solid;
      text-align: center;
    }

    :first-child {
      margin: auto 0;
    }
  }
}
