.IVResult {
  .resultGrid {
    :nth-child(2), :nth-child(3) {
      padding: .3rem;
      margin: .5rem 0;
      text-align: center;
    }

    &.desktopGrid {
      :first-child {
        display: none;
      }
    }
  }
}
