header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: .5rem 0;
  border-bottom: .3rem solid black;
  background: #ff4545;
}

header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: white;
}

#header-safe-zone {
  height: 3.8rem;
}
